<div class="pt-12 pb-8" data-flex="row">
	<div class="src-header__title" data-lg-reveal="my-reveal" data-lg-reveal-multiple data-column="2">
		<a class="src-title__link" href="{{@site.url}}">
			{{#if @site.logo}}
				<figure class="src-title__logo">
					<img class="src-title__logo-img" src="{{@site.logo}}" alt="{{@site.title}}" width="500" height="500" />
				</figure>
			{{else}}
				{{@site.title}}
			{{/if}}
		</a>
	</div>
	<div class="src-header__menu" data-column="8">
		<nav class="src-nav">
			{{navigation}}
		</nav>
	</div>
</div>