<div class="src-hero__bg" data-lg-parallax="child" data-lg-parallax-amplitude="-0.8">
  <img class="src-hero__bg-img" src="{{asset "img/unsplash/sqrtx.jpg"}}" alt="bg">
</div>
<section class="src-hero">
  <div class="src-hero__box" data-flex="row">
    <div class="src-hero__box-panel" data-column="2"></div>
    <div class="src-hero__box-panel swiper" data-column="10">
      <div class="src-hero__content swiper-wrapper">
        {{#get "posts" limit="4" filter="featured:true"}}
        {{#foreach posts}}
          <div class="swiper-slide" data-flex="row">

            <article class="src-hero__info" data-column="4">
              <span class="src-hero__post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
              <h3 class="src-hero__title">{{title}}</h3>

              {{#if custom_excerpt}}
              <p class="src-hero__excerpt">{{custom_excerpt}}</p>
              {{else}}
              <p class="src-hero__excerpt">{{excerpt}}</p>
              {{/if}}
            </article>

            {{#if feature_image}}
            <figure class="src-hero__img" data-column="8">
                <img
                  srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                  sizes="(max-width: 1000px) 1000px, 2000px"
                  loading="lazy"
                  src="{{img_url feature_image size="xl"}}"
                  alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                  <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
          </div>
          {{/if}}
        {{/foreach}}
        {{/get}}
      </div>
      <div class="src-hero__slide-nav" style="--swiper-navigation-size: 4.2rem; --swiper-navigation-color: #aaaaaa;">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>