{{!< default}}

{{#post}}

<article class="src-article {{post_class}}">

    <header class="src-article__header src-article__canvas">
        <span class="src-article__post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
        <h1 class="src-article__title">{{title}}</h1>

        {{#if custom_excerpt}}
        <p class="src-article__excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
        <figure class="src-article__feature-image">
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 1000px, 2000px"
                loading="lazy"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}
    </header>

    <div class="src-article__content src-article__canvas">
        {{content}}
    </div>

    <footer class="src-article__footer src-article__canvas">

        <div class="src-article__post-authors">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>

        {{!--
        <section class="src-article__post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </footer>

</article>

<aside class="src-article__readmore">
    <div class="src-article__readmore-inner src-article__container">
        <div class="src-article__readmore-next">
            {{#next_post}}<a href="{{url}}"><i class="ion-rewind"></i> <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="src-article__readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> <i class="ion-fastforward"></i>
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}
